@model EmailViewModel

@if (ViewBag.Success != null)
{
    <div id="s"><partial name="~/Views/Shared/_SuccessPage.cshtml" /></div>
    <script>
        $(function () {
            $("#formMessage").hide();
        })
    </script>

}
@if (ViewBag.Failed != null)
{
    <div class="alert alert-danger" role="alert" id="failedMessageAddPost">
        @ViewBag.Failed
    </div>
}
@using (Html.BeginForm("SendEmail", "Email", FormMethod.Post, new { @id = "formMessage" }))
{
    @Html.AntiForgeryToken()
    <h4>Send your message.</h4>
    <hr />
    <div class="container">
        <div class="form-group">
            @Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Subject)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Message)
            </div>
        </div>
        <div class="form-group">
            <div class="form-group bntPosition">
                @Html.SubmitSend("Send")
                @Html.Back("Back")
            </div>
        </div>
    </div>
}


